.product{
    text-align: center;
    padding: 50px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
}

.all{
    margin: 0 50% 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
}

.all:hover{
    background: #1d68a7;
}

.all a:hover{
    color: #ffffff;
}

.title{
    width:  200px;
    padding: 20px;
    text-align: center;
    margin:  0 0 50px 50px ;
    font-weight: bold;
    border-radius: 20px;
    background: #78CE87;
    color: #ffffff;
}
